<h1>Listing gawks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gawks.each do |gawk| %>
      <tr>
        <td><%= link_to gawk.message, gawk %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

