<h1>Listing hashed_macs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hashed_macs.each do |hashed_mac| %>
      <tr>
        <td><%= link_to 'Show', hashed_mac %></td>
        <td><%= link_to 'Edit', edit_hashed_mac_path(hashed_mac) %></td>
        <td><%= link_to 'Destroy', hashed_mac, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hashed mac', new_hashed_mac_path %>
