/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require font-awesome
 */

body {
  background-color: #1F1F1F;
  color: #D6D9C3;
  font-family: "Inconsolata", monospace;
}

#search {
  margin-bottom: 20px;
  font-size: 1.2em;
  position: absolute;
  top: -20px;
}

.divider {
  margin-top: 20px;
  margin-bottom: 15px;
  border-top: 2px solid #524C49;
  width: 90%;}

#gawkward ul li {
  list-style: none;
  margin-top: 7px;
  margin-bottom: 7px;
}

.fa-stack-overflow {
  color: #FCE41E;
}

#gawkward ul {
  list-style: none;
}

.overflow {
  width: 45%;
  display: inline-block;
}

#ruby {
  width: 35%;
  display: inline-block;
  position: absolute;
}

#ruby img {
  width: 60px;
  height: 60px;
}

.ruby_docs p {
  position: relative;
  top: -65px;
  left: 60px;
}

.so_logo {
  max-height: 30px;
  width: auto;
  padding-top: 15px;
}

.large {
  font-size: 1em;
  padding-bottom: 5px;
}

body a {
  color: #E51200;
  text-decoration: none;
}

body a:hover {
  text-decoration: underline;
}

body a:visited {
  color: #00FF00;
}

#logo {
  width: 40%;
  display: inline-block;
}

header {
    top: -20px;
    left: 0px;
    position: relative;
    width: 90%;
    border-bottom: 2px solid #524C49;
    margin: auto;
}

header h1 img {
  width: 80%;
  height: 60%;
  display: inline-block;
}

header ul {
  list-style: none;
}

header ul li {
  display: none;
}

header p {
  display: inline-block;
  font-size: 34px;
  width: 50%;
}

.container {
  position: relative;
  top: 30px;
  width: 100%;
  padding: 25px 50px 40px;
}
